* {
  box-sizing: border-box;
}
body {
  text-align: center;
  background: #31d6c990;
}

p {
  text-align: center;
  color: #ea8808;
}
h1 {
  color: #ea8808;
}
.button {
  width: 300px;
  background: #ea8808;
  color: #fff;
  border: 1px solid #ea8808;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #fff;
  color: #46a358;
}

.social-login {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  width: 300px;
  height: 40px;
  border: 1px solid #eaeaea;
  text-decoration: none;
  gap: 10px;
  transition: 0.2s;
}

.social-login:hover {
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.42);
  background: #fff;
}

input {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  display: inline-block;
  width: 300px;
}
select {
  border: 1px solid #eaeaea;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 20px;
  display: inline-block;
  width: 300px;
}
